@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root{
  --primary-color: #6f4e37;
  --secondary-color: #2c1e12;
  --tertiary-color: #a67b5b;
  --neutral-color: #f5f5dc;

  --heading-font: "Noto Serif";
  --body-font: "Inter";
  --label-font: "Inter";
}
